
<!DOCTYPE	html>
<html>
<head>
	<meta charset="utf-8">
	<title>Atividade mini training</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	
</head>
<body>
	
	<div class="jumbotron col-lg-6">
		<div class="container">
			<h1>Paridade</h1>
			<hr></hr>
		</div>
		
		<div id="tabela" class = "">
	    	<table class="table table-hover">
			   	 <thead>
			      <tr>
			        <th>NÚMERO</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td style = "color:darkgreen"><%= item1 %></td>
			      </tr>
			      
			      
			    </tbody>
		  	</table>
	  </div>
	</div>
	
	
	</div>
	

</body>
</html>